.type{
  background:#00a8ff;
  color:#fff;
.title{
  font-size: 30px;
  padding-top: 40px;
  line-height: 2;
  letter-spacing: .8px;
  font-weight: 700;
text-align: center;
margin-bottom: 70px;
}




.two{

  padding: 15px 5px !important;
  border: 1px solid #dadada;
color: #dadada;
margin-bottom: 50px;
i{
font-size: 70px;


}
p{
font-weight: 400;
font-size: 16px;
letter-spacing: .6px;
}
}

.top{
margin-top: 80px;
}
}
.two:hover , .two:focus{
border-color: #fff;
i , p{
color:#fff;
}

}
