<!-- <ion-menu *ngIf="languageInSildClass === 'en'" [content]="content" dir="ltr" id="menuId" side="left">

    <ion-content class="menuContent">

        <ion-toolbar class="headermenu">
            <img [style.float]="languageInSildClass == 'en' ?'left':'right'" src="assets/img/user4.png">
            <span>محمد أحمد على</span>
            <br>
            <p>مدير قسم البرمجه والتطوير</p>

        </ion-toolbar>

        <ion-list>
            <ion-item>
                <ion-icon name="ios-contact"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp; {{ 'profile' | translate }}</ion-item>
            <ion-item>
                <ion-icon name="ios-share-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{ 'orders' | translate }}</ion-item>
            <ion-item (click)="logout()">
                <ion-icon name="log-out" [style.transform]="languageInSildClass == 'en' ?'scaleX(-1)':'scaleX(1)'"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{ 'logout' | translate }}</ion-item>
        </ion-list>

    </ion-content>


</ion-menu>

<ion-menu *ngIf="languageInSildClass === 'ar'" [content]="content" dir="rtl" id="menuId" side="right">

    <ion-content class="menuContent">

        <ion-toolbar class="headermenu">
            <img src="assets/img/user4.png">
            <span>محمد أحمد على</span>
            <br>
            <p>مدير قسم البرمجه والتطوير</p>

        </ion-toolbar>

        <ion-list>
            <ion-item (click)="openPage('Profile')">
                <ion-icon name="ios-contact"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp; {{ 'profile' | translate }}</ion-item>
            <ion-item>
                <ion-icon name="ios-share-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{ 'orders' | translate }}</ion-item>
            <ion-item (click)="logout()">
                <ion-icon name="log-out"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{ 'logout' | translate }}</ion-item>
        </ion-list>

    </ion-content>


</ion-menu>





<ion-nav id="nav" [root]="rootPage" dir="{{textDir}}" #content swipeBackEnabled="false">

</ion-nav>

<ion-nav id="nav" #rootNavController [root]="rootPage"></ion-nav> -->


<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title backgeound="primary">Hello , Jeniffer </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [class.menu]>
    <ion-list>

        <button ion-item (click)="openPage('HomePage')">
          <ion-icon class="menu-icon" name="ios-home-outline"></ion-icon>

          Home
        </button>

        <button ion-item (click)="openPage('AllOrdersPage')">
          <ion-icon class="menu-icon" name="logo-buffer"></ion-icon>
          Orders

        </button>

        <button ion-item (click)="openPage('WishListPage')">
          <ion-icon class="menu-icon" ios="ios-heart-outline" md="md-heart-outline"></ion-icon>

          Wich List
        </button>

        <button ion-item (click)="openPage('HomePage')">
          <ion-icon class="menu-icon" name="ios-person-outline"></ion-icon>
          Profile
        </button>


        <button ion-item (click)="openPage('HomePage')">
          <ion-icon class="menu-icon" name="ios-navigate-outline"></ion-icon>

          Addresses
        </button>


        <button ion-item (click)="openPage('HomePage')">
          <ion-icon class="menu-icon" name="ios-log-out-outline"></ion-icon>

          LogOut
        </button>
        <hr class="myhr">

        <button ion-item (click)="openPage('HomePage')">
          <ion-icon class="menu-icon" name="ios-globe-outline"></ion-icon>

          Language

          <span class="fright">ENGLISH</span>

        </button>


        <button ion-item (click)="openPage('HomePage')">
          <ion-icon class="menu-icon" name="logo-usd"></ion-icon>

          Currency

          <span class="fright">GBP</span>
        </button>
        <hr class="myhr">

        <button ion-item (click)="openPage('HomePage')">
          <ion-icon class="menu-icon" name="md-mail"></ion-icon>

          Contact Support
        </button>


      </ion-list>
    </ion-content>
  </ion-menu>




<ion-nav  id="nav" #content [root]="rootPage"></ion-nav>
