<!-- Forgetpass form -->
<ion-content padding class="forgetpass-form" overflow-scroll="false" *ngIf="!forgetpassBtnClicked">

    <ion-navbar></ion-navbar>

    <div class="logo animated fadeInDown">
        <img src="assets/img/logo.png" alt="shuryan-logo">
    </div>

    <!-- <p id="bb" class="infoHint animated fadeInDown"> {{ 'forgetPasswordText' | translate }}</p> -->

    <h3 class="forget nimated fadeInDown">Forgot Password ?</h3>
    <p  class="infoHint animated fadeInDown">
      Enter Your Email address alink will be sent to this email address

    </p>



    <form [formGroup]="forgetPasswordForm" (ngSubmit)="requestResetPassword()">

        <ion-list>
            <!-- mobNo. field -->
            <ion-item class="animated bto fadeInDown">


                <ion-input formControlName="userphone" [(ngModel)]="userPhone" use-regex="integerNumber" class="bto" type="email" placeholder="Email"></ion-input>
            </ion-item>


        </ion-list>
        <!-- form Btns -->
        <!--[disabled]="!forgetPasswordForm.valid"-->
        <button ion-button block [disabled]="!forgetPasswordForm.valid" class="forgetpassBtn m-r-60 app-white  animated fadeInDown">SUBMIT EMAIL</button>
    </form>

    <p class="login animated fadeInDown">
        Aleardy Have an Account ?
        <button class="top" ion-button clear (click)="openPage('LoginPage')" >Login</button>
    </p>


    <p class="noMatchUserOrPass" *ngIf="userphoneNotCorrect">{{ 'incorectUsername' | translate }}</p>
</ion-content>


<!-- Reset form -->
<ion-content padding class="restpass-form" overflow-scroll="false" *ngIf="forgetpassBtnClicked">

    <div class="logo animated fadeInDown">
        <img src="assets/img/logo.png" alt="shuryan-logo">
    </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="requestForgetPassword()">

        <ion-list>

            <!-- verifyCode field -->
            <ion-item class="animated fadeInDown">
                <ion-label floating [style.transform-origin]="language === 'en' ?'left':''">
                    <ion-icon [ngClass]="language == 'en' ?'iconEn':'iconAr'" name="ios-unlock-outline"></ion-icon>
                    {{ 'code' | translate }}
                </ion-label>
                <ion-input formControlName="verifycode" [(ngModel)]="verifyCode" type="text"></ion-input>
            </ion-item>
            <p class="validationHint" *ngIf="hasError2('verifycode', 'required')">{{ 'require' | translate }}</p>
            <p class="validationHint" *ngIf="hasError2('verifycode', 'maxlength')">{{ 'maxLenghtNumChar' | translate }}</p>
            <p class="validationHint" *ngIf="codeError">{{ 'errorCode' | translate }}</p>

            <!-- password field -->
            <ion-item class="animated fadeInDown">
                <ion-label floating [style.transform-origin]="language === 'en' ?'left':''">
                    <ion-icon [ngClass]="language === 'en' ?'iconEn':'iconAr'" name="ios-lock-outline"></ion-icon>
                    {{ 'Password' | translate }}
                </ion-label>
                <ion-input formControlName="password" [(ngModel)]="userPassword" type="password"></ion-input>
            </ion-item>
            <p class="validationHint" *ngIf="hasError2('password', 'required')">{{ 'require' | translate }}</p>

            <span class="validationHint">
            <p *ngIf="hasError2('password', 'minlength')">{{ 'minLenght8' | translate }}</p>
            <p *ngIf="hasError2('password', 'maxlength')">{{ 'maxLenghtNumChar' | translate }}</p>

            </span>
            <!--confirm password field -->
            <ion-item class="animated fadeInDown">
                <ion-label floating [style.transform-origin]="language === 'en' ?'left':''">
                    <ion-icon [ngClass]="language === 'en' ?'iconEn':'iconAr'" name="ios-lock-outline"></ion-icon>
                    {{ 'confirmPassword' | translate }}
                </ion-label>
                <ion-input formControlName="confirmPassword" [(ngModel)]="confirmPassword" type="password"></ion-input>
            </ion-item>
            <p class="validationHint" *ngIf="hasError2('confirmPassword', 'required')">{{ 'require' | translate }}</p>

            <div *ngIf="confirmPassword !=null">
                <p class="validationHint" *ngIf="!matchingPasswords(userPassword,confirmPassword)">{{ 'notMatch' | translate }}</p>
            </div>
        </ion-list>

        <!-- form Btns -->
        <button ion-button block type="submit" [disabled]="!resetPasswordForm.valid || !matchingPasswords(userPassword,confirmPassword)" class="animated fadeInDown">{{ 'reset' | translate }}</button>
        <button ion-button full clear type="button" [hidden]="resendBtnClicked" (click)="resendCode()" class="resendCode">{{ 'resendCode' | translate }}</button>
    </form>

</ion-content>
